* {
    box-sizing: border-box;
}

body {
    background-image: url("../Images/cubes.png");
    height: 100%;
    width: 960px;
    margin: auto;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
}