* {
    box-sizing: border-box;
}

body {
    background-image: url("../Images/cubes.png");
    height: 100%;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.header-background {
    width: 100%;
    height: 75px;
    background: #ffffff;
    border-bottom: #cccccc 5px solid;
}

nav {
    float: right;
    margin-top: 25px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    font-weight: bold;
}

#name {
    float: left;
    text-align: center;
    color: #ffffff;
    height: 70px;
    padding: 20px 35px 0px;
    background: #4aaaa5;
}

section {
    margin-top: 50px;
    background: #ffffff;
    border: #dddddd 1px solid;
    padding: 34px 34px 0px;
}

#heading {
    color: #4aaaa5;
}

#selfie {
    float: left;
    width: 235px;
    height: 275px;
    margin-right: 35px;
}

p {
    line-height: 2;
}

footer {
    position: absolute;
    padding-top: 40px;
    padding-bottom: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #666666;
    border-top: #4aaaa5 10px solid;
}